# Use O2C_Template Customized Notebook Template

In [1]:
import random
from faker import Faker
import pandas as pd

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
fake = Faker('en_US')

# Customer Data Setup

In [4]:
# Generate Customers
def generate_customers(num_customers=100):
    customers = []
    for _ in range(num_customers):
        customer = {
            'CustomerID': 'CID' + fake.uuid4(),
            'Name': fake.company(),
            'CompanyType':fake.company_suffix(),
            'ContactDetails': fake.phone_number(),
            'EmailDetails': fake.company_email(),
            'AddressDetails':fake.address(),
            'AdminDetails':fake.administrative_unit(),
            'CreditLimit': random.randint(10000, 100000),
            'CreditRating': random.choice(['very poor', 'fair', 'good', 'very good','exceptional'])
        }
        customers.append(customer)
    return customers

In [5]:
# Generate Data
customers = generate_customers()

In [6]:
customers_name = ['CleverOffice','Stackers','PreScott Works','MomentA','BOXED'
,'JinkOffice','HomeEssentials','BallPoint','WhaleBack','Formica'
,'Starton Inc','Anabrige LLP','Hammers and Nails','BoreHole LLC'
,'Indra Secure Co-rp','CortiTech ITC','DOLCH ','Sutura'
,'StarStruck LLC','BARCTL LLC','Limae Inc','Rivet','Marathon'
,'Valiant','Filum','TautaLog','Pin&Fix','JamPack','MasterStik'
,'CLIC','Nestables','CAPSTASH','Tappit','MashMart','TruSource'
,'ODD Sends','Pen Scoop','ASCRIBE LLP','Wire works','EXPRESSR'
,'FULCRO','SOLID BOX','LYSIS Logo','CARDIOID','Herculean Inc'
,'OTTAVA','BLUE Ribbon','Master Bind ','Thinkies','Five Point'
,'Connect iBuy','Lion Mark','Deskify','BestTry','PLOTSHOP'
,'Office Fuel','Oasis Cuff','CoraPress','SuperShapes','BeeBows'
,'Locale Mart','TetherLink','Comestor','Knox Paper','NECESSITE'
,'Corner Spike','SPACE MAX','Easy Dealy','Star Tech','KLIXX'
,'Phyllon LLP','Planisphere','A1 Creased','ONYX','HomeBright'
,'NextBolt','Pinch Hops','Popplin','Mercer and Sons','Jackson-Hughes'
,'Moran Ltd','Baldwin PLC','Tucker Ltd','Allen Inc','Rodriguez Group'
,'Taylor Ltd','Mahoney PLC','Robinson Group','Mcmillan LLC'
,'Bailey-Roberts','Rivera PLC','Potter Group','Mckay-Davis','Valencia Group'
,'Haynes-Jackson','Klein Inc','Davis-Rose','Watson-Miller','Smith LLC'
,'Jackson and Sons']

In [7]:
df_customers = pd.DataFrame(customers)

In [8]:
df_customers['CustomerName'] = customers_name

In [9]:
CustomerType = ['Construction Materials','Office Supplies','Construction Materials','Food Beverages'
,'Office Supplies','Construction Materials','Healthcare','Food Beverages','Automotive'
,'Food Beverages','Food Beverages','Construction Materials','Construction Materials'
,'Construction Materials','Automotive','Food Beverages','Food Beverages','Food Beverages'
,'Consumer Goods','Consumer Goods','Healthcare','Office Supplies','Office Supplies'
,'Office Supplies','Healthcare','Office Supplies','Construction Materials','Office Supplies'
,'Office Supplies','Office Supplies','Food Beverages','Consumer Goods','Consumer Goods'
,'Food Beverages','Office Supplies','Office Supplies','Food Beverages','Office Supplies'
,'Construction Materials','Food Beverages','Automotive','Office Supplies','Office Supplies'
,'Consumer Goods','Automotive','Food Beverages','Office Supplies','Office Supplies'
,'Food Beverages','Food Beverages','Food Beverages','Food Beverages','Consumer Goods'
,'Healthcare','Food Beverages','Healthcare','Food Beverages','Food Beverages','Healthcare'
,'Automotive','Food Beverages','Food Beverages','Food Beverages','Consumer Goods'
,'Healthcare','Food Beverages','Automotive','Consumer Goods','Food Beverages'
,'Food Beverages','Consumer Goods','Consumer Goods','Automotive','Consumer Goods'
,'Consumer Goods','Construction Materials','Consumer Goods','Consumer Goods','Consumer Goods'
,'Consumer Goods','Industrial Equipment','Industrial Equipment','Industrial Equipment'
,'Industrial Equipment','Consumer Goods','Industrial Equipment','Healthcare','Healthcare'
,'Healthcare','Automotive','Industrial Equipment','Construction Materials','Automotive'
,'Construction Materials','Consumer Goods','Consumer Goods','Consumer Goods','Consumer Goods'
,'Industrial Equipment','Consumer Goods']

In [10]:
df_customers['CustomerType'] = CustomerType

In [11]:
df_customers.head()

,CustomerID,Name,CompanyType,ContactDetails,EmailDetails,AddressDetails,AdminDetails,CreditLimit,CreditRating,CustomerName,CustomerType
0,CID18114fcd-235e-4c71-87f9-989e32730ce6,"Wheeler, Mclaughlin and Blair",Inc,+1-541-903-1510x68102,bmann@alexander.org,"6947 Sabrina Gardens\nWest Michael, ID 04458",Oklahoma,29333,very poor,CleverOffice,Construction Materials
1,CIDa348c330-fb1d-4a5a-b67b-d4e8edcc2493,Dyer-Maxwell,Group,001-691-362-3206x1323,acevedosarah@johnson.org,"21352 Price Pine\nKellyview, VA 03003",Virginia,15823,good,Stackers,Office Supplies
2,CIDdf2653da-0dd0-47a4-8e29-e730ce1c6e99,Dillon-Smith,Group,001-075-546-1642x731,dylansantiago@reeves.net,"359 Morales Village Apt. 014\nEast Lisa, TN 67361",Rhode Island,17114,very poor,PreScott Works,Construction Materials
3,CID3faec358-1fa4-4ffb-b993-8fb9a9d26184,"Brock, Shelton and Smith",LLC,(946)266-4544,melissawalker@perez.com,"1926 John Mews Apt. 742\nEast Lawrence, OH 90413",Alabama,87218,exceptional,MomentA,Food Beverages
4,CIDbddff6fd-86bf-47b6-9a0e-b103f57c6efb,"Douglas, Martinez and Williams",and Sons,7733524809,julia21@brooks-holmes.com,"1256 Robinson Land\nLake Alexfort, VA 51346",Maryland,22929,exceptional,BOXED,Office Supplies

In [12]:
df_customers.columns = ['CustomerID', 'Name', 'CompanyType', 'ContactDetails', 'EmailDetails',
       'AddressDetails', 'AdminDetails', 'CreditLimit', 'CreditRating','CustomerName','CustomerType']

In [13]:
df_customers.head()

,CustomerID,Name,CompanyType,ContactDetails,EmailDetails,AddressDetails,AdminDetails,CreditLimit,CreditRating,CustomerName,CustomerType
0,CID18114fcd-235e-4c71-87f9-989e32730ce6,"Wheeler, Mclaughlin and Blair",Inc,+1-541-903-1510x68102,bmann@alexander.org,"6947 Sabrina Gardens\nWest Michael, ID 04458",Oklahoma,29333,very poor,CleverOffice,Construction Materials
1,CIDa348c330-fb1d-4a5a-b67b-d4e8edcc2493,Dyer-Maxwell,Group,001-691-362-3206x1323,acevedosarah@johnson.org,"21352 Price Pine\nKellyview, VA 03003",Virginia,15823,good,Stackers,Office Supplies
2,CIDdf2653da-0dd0-47a4-8e29-e730ce1c6e99,Dillon-Smith,Group,001-075-546-1642x731,dylansantiago@reeves.net,"359 Morales Village Apt. 014\nEast Lisa, TN 67361",Rhode Island,17114,very poor,PreScott Works,Construction Materials
3,CID3faec358-1fa4-4ffb-b993-8fb9a9d26184,"Brock, Shelton and Smith",LLC,(946)266-4544,melissawalker@perez.com,"1926 John Mews Apt. 742\nEast Lawrence, OH 90413",Alabama,87218,exceptional,MomentA,Food Beverages
4,CIDbddff6fd-86bf-47b6-9a0e-b103f57c6efb,"Douglas, Martinez and Williams",and Sons,7733524809,julia21@brooks-holmes.com,"1256 Robinson Land\nLake Alexfort, VA 51346",Maryland,22929,exceptional,BOXED,Office Supplies

In [14]:
df_train_sf=my_session.createDataFrame(
        df_customers.values.tolist(),
        schema=df_customers.columns.tolist())
df_train_sf.write.mode("overwrite").save_as_table("FDC_HORIZONTAL.O2C_SCHEMA.BRONZE_CUSTOMER_DATA")

# Product Data setup

In [15]:
df_product = pd.read_csv('product_files.csv')

In [16]:
df_product.head()

   ProductCategory            ProductType  Quantity  UnitPrice
0  Office Supplies          Laser Printer       100        425
1  Office Supplies        Ergonomic Chair      1000        299
2  Office Supplies          Standing Desk      1000        420
3  Office Supplies      Wireless Keyboard      1000         78
4  Office Supplies  Office Stationery Set      1000         15

In [17]:
def generate_products(data):
    data['ProductID'] = ''
    # Iterate over rows and columns
    for index, row in data.iterrows():
        data.at[index, 'ProductID'] = 'PID' + fake.uuid4()
    return data

In [18]:
df_product = generate_products(df_product)

In [19]:
df_train_sf=my_session.createDataFrame(
        df_product.values.tolist(),
        schema=df_product.columns.tolist())
df_train_sf.write.mode("overwrite").save_as_table("FDC_HORIZONTAL.O2C_SCHEMA.BRONZE_PRODUCT_DATA")

# Status Scenarios

In [27]:
order_status = ['Approved','Rejected','Cancelled']
shipment_status = ['Pending','Picked','Shipped','In Transit','Delivered','Returned']
invoice_status = ['PendingApproval','Approved','Sent','Paid','Cancelled']

In [28]:
import itertools

In [31]:
# Generate all possible combinations of statuses
combinations = list(itertools.product(order_status,shipment_status,invoice_status))

In [32]:
# Create a DataFrame to store the combinations
columns = ["order_status", "shipment_status", "invoice_status"]
df = pd.DataFrame(combinations, columns=columns)

In [33]:
df

   order_status shipment_status   invoice_status
0      Approved         Pending  PendingApproval
1      Approved         Pending         Approved
2      Approved         Pending             Sent
3      Approved         Pending             Paid
4      Approved         Pending        Cancelled
..          ...             ...              ...
85    Cancelled        Returned  PendingApproval
86    Cancelled        Returned         Approved
87    Cancelled        Returned             Sent
88    Cancelled        Returned             Paid
89    Cancelled        Returned        Cancelled

[90 rows x 3 columns]

# Order Items and Order Details Data Set up

In [4]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [5]:
table_name = 'BRONZE_CUSTOMER_DATA'

sf_df = my_session.sql("select * from {}".format(table_name))
df_customers = sf_df.to_pandas()

In [6]:
table_name = 'BRONZE_PRODUCT_DATA'

sf_df = my_session.sql("select * from {}".format(table_name))
df_product = sf_df.to_pandas()

In [18]:
# Assuming you already have the customers and products dataframes
customers = df_customers['CustomerID'].tolist()
products = df_product[['ProductID', 'UnitPrice']].to_dict('records')

In [7]:
# Function to generate a random date between two dates
def random_date(start_date, end_date):
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    return start_date + timedelta(days=random_days)

In [9]:
# Define the date range
from datetime import datetime, timedelta

start_date = datetime.strptime('08-01-2022', '%m-%d-%Y')
end_date = datetime.strptime('09-01-2024', '%m-%d-%Y')

In [10]:
start_date, end_date

(datetime.datetime(2022, 8, 1, 0, 0), datetime.datetime(2024, 9, 1, 0, 0))

In [54]:
def add_days(input_date, range1, range2):

    if isinstance(input_date, str):    
    # Convert orderdate string back to datetime object
        input_date = datetime.strptime(input_date, '%m-%d-%Y')

    # Generate a random number of days 
    additional_days = random.randint(range1, range2)

    # Calculate the new date
    new_date = input_date + timedelta(days=additional_days)

    # Convert the new date back to string if needed
    new_date = new_date.strftime('%m-%d-%Y')

    return new_date

In [68]:
# List to store orders
orders_fulfill = []

# Generate orders
for i in range(123456):
    # Filter products matching the customer's type
    customer = df_customers.sample(n=1)
    matching_products = df_product[df_product['PRODUCTCATEGORY'] == customer.iloc[0]['CUSTOMERTYPE']]
    
    if not matching_products.empty:
        # Randomly select a product from the matching products
        orderid = 'OR-' + fake.uuid4()
        orderitemid = 'OI-' + fake.uuid4()
        invoiceid = 'IN-' + fake.uuid4()
        shipmentid = 'SP-' + fake.uuid4()
        selected_product = matching_products.sample().iloc[0]
        selected_quantity = random.randint(1, selected_product['QUANTITY'])
        orderdate = random_date(start_date, end_date).strftime('%m-%d-%Y')
        shipmentdate = add_days(orderdate, 2,7)
        deliverydate = add_days(shipmentdate, 1,4)
        deliveredOn = add_days(deliverydate,0,2) 
        invoicedate = add_days(deliveredOn,1,2)
        invoiceduedate = add_days(invoicedate,0,7)
        paymentdate = add_days(invoicedate,1,15)

        # Generate Fulfilled order details
        orders_fulfil = {
            'ORDERID' : orderid,
            'ORDERITEMID' : orderitemid,
            'CUSTOMERID': customer.iloc[0]['CUSTOMERID'],
            'CUSTOMERNAME': customer.iloc[0]['CUSTOMERNAME'],
            'PRODUCTID': selected_product['PRODUCTID'],
            'PRODUCTCATEGORY': selected_product['PRODUCTCATEGORY'],
            'PRODUCTTYPE': selected_product['PRODUCTTYPE'],
            'ORDERDATE': orderdate,
            'ORDERSTATUS': 'Fulfilled',
            'ORDERITEMSTATUS': 'Fulfilled',
            'ORDERUNITPRICE': selected_product['UNITPRICE'],
            'ORDERQUANTITY': selected_quantity,
            'TOTALPRICE': selected_product['UNITPRICE'] * selected_quantity,
            'SHIPMENTID' : shipmentid,
            'SHIPMENTDATE' : shipmentdate,
            'SHIPMENTSTATUS' : 'Delivered',
            'INVOICEID' : invoiceid,
            'INVOICEDATE' : invoicedate,
            'INVOICEDUEDATE' : invoiceduedate,
            'PAYMENTDATE' : paymentdate,
            'DELIVERYDATE' : deliverydate,
            'DELIVEREDON' : deliveredOn,
            'PAYMENTSTATUS': 'Complete',
            'PAYMENTMETHOD': random.choice(['Wire Transfers','Cards','Cash','Checks','Mobile Payments']),
            'CARRIER' : random.choice(['FedEx', 'UPS', 'DHL', 'USPS'])
        }
        
        # Add order to the list
        orders_fulfill.append(orders_fulfil)

# Create a DataFrame for orders
df_orders_fulfill = pd.DataFrame(orders_fulfill)

In [69]:
df_orders_fulfill.head()

,ORDERID,ORDERITEMID,CUSTOMERID,CUSTOMERNAME,PRODUCTID,PRODUCTCATEGORY,PRODUCTTYPE,ORDERDATE,ORDERSTATUS,ORDERITEMSTATUS,...,SHIPMENTSTATUS,INVOICEID,INVOICEDATE,INVOICEDUEDATE,PAYMENTDATE,DELIVERYDATE,DELIVEREDON,PAYMENTSTATUS,PAYMENTMETHOD,CARRIER
0,OR-96037631-4d8e-4016-8582-82e8a659f2b9,OI-5942a5fa-3d5d-425f-9a45-3940d675976e,fdeb3e5a-b484-4160-ae4b-7e023335502f,HomeEssentials,1844b9c3-9ec6-4468-80d7-07e3588d6423,Healthcare,Blood Pressure Monitor,03-20-2023,Fulfilled,Fulfilled,...,Delivered,IN-fdb46379-77f5-44e6-9e5c-76d5ebe6ab4d,03-27-2023,03-31-2023,04-02-2023,03-24-2023,03-25-2023,Complete,Checks,USPS
1,OR-e490aa51-4da7-45c9-b43e-c06fd96430db,OI-c4466f0a-d153-4d66-afaa-ba5220ef3a82,fdeb3e5a-b484-4160-ae4b-7e023335502f,HomeEssentials,e56b13ea-015e-440a-9883-0db9c08af953,Healthcare,Digital Thermometer,03-02-2024,Fulfilled,Fulfilled,...,Delivered,IN-bff8b48d-b2dd-43cf-9624-5dfbb990b3a1,03-13-2024,03-18-2024,03-20-2024,03-10-2024,03-11-2024,Complete,Cash,DHL
2,OR-e3e6f8d5-1b3a-4d7d-b9d2-e2aeb8b4796e,OI-4ed9f250-49c6-4375-9626-035260c182dc,02b56d63-e95d-4da5-83c6-5a985c3d4431,Easy Dealy,12b35a0a-23fc-4650-aa2a-3b50a6cb143b,Consumer Goods,LED Light Bulbs,06-17-2023,Fulfilled,Fulfilled,...,Delivered,IN-1a08a581-d265-4670-81cc-e437b438c962,06-24-2023,06-27-2023,07-09-2023,06-22-2023,06-23-2023,Complete,Cash,UPS
3,OR-381ae4de-c74e-4754-be2a-3f4c153a04e0,OI-45e026e5-adb7-4ed5-a8d0-21e13a060b37,fd837988-21b5-4832-a998-f6dd2c2e3249,EXPRESSR,52b7728b-2e17-4584-9038-1b8a6bc3cfb3,Food Beverages,Energy Drink,02-04-2023,Fulfilled,Fulfilled,...,Delivered,IN-0ad67d8c-ee79-4d77-ab4d-6a16efe79108,02-11-2023,02-16-2023,02-21-2023,02-08-2023,02-10-2023,Complete,Mobile Payments,DHL
4,OR-396c98e4-917a-4bc0-b471-b63edd5fd342,OI-f9107171-57c2-42a1-abfd-9ea556aba59f,e8dab644-6a47-4300-a5c8-a853df757beb,WhaleBack,d98d99a7-fc23-4212-b90c-70b1067d5de0,Automotive,Brake Pads,12-17-2022,Fulfilled,Fulfilled,...,Delivered,IN-cfe96c45-cc74-4331-9bef-a3cc899f77bf,12-24-2022,12-29-2022,01-03-2023,12-21-2022,12-23-2022,Complete,Cash,UPS

In [74]:
df_orders_fulfill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123456 entries, 0 to 123455
Data columns (total 25 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ORDERID          123456 non-null  object
 1   ORDERITEMID      123456 non-null  object
 2   CUSTOMERID       123456 non-null  object
 3   CUSTOMERNAME     123456 non-null  object
 4   PRODUCTID        123456 non-null  object
 5   PRODUCTCATEGORY  123456 non-null  object
 6   PRODUCTTYPE      123456 non-null  object
 7   ORDERDATE        123456 non-null  object
 8   ORDERSTATUS      123456 non-null  object
 9   ORDERITEMSTATUS  123456 non-null  object
 10  ORDERUNITPRICE   123456 non-null  int16
 11  ORDERQUANTITY    123456 non-null  int64
 12  TOTALPRICE       123456 non-null  int64
 13  SHIPMENTID       123456 non-null  object
 14  SHIPMENTDATE     123456 non-null  object
 15  SHIPMENTSTATUS   123456 non-null  object
 16  INVOICEID        123456 non-null  object
 17  INVOICEDATE      123456 non-null  object
 18  INVOICEDUEDATE   123456 non-null  object
 19  PAYMENTDATE      123456 non-null  object
 20  DELIVERYDATE     123456 non-null  object
 21  DELIVEREDON      123456 non-null  object
 22  PAYMENTSTATUS    123456 non-null  object
 23  PAYMENTMETHOD    123456 non-null  object
 24  CARRIER          123456 non-null  object
dtypes: int16(1), int64(2), object(22)
memory usage: 22.8+ MB

In [21]:
# Generate Order Items and Orders
order_items = []
orders = []

for _ in range(100000):  # Generate 100,000 orders
    order_id = fake.uuid4()
    customer_id = random.choice(customers)
    order_date = fake.date_between(start_date, end_date)
    order_status = random.choice(['Pending', 'Shipped', 'Delivered', 'Cancelled'])
    
    # Create order items for this order
    num_items = random.randint(1, 5)  # Each order has a random number of items between 1 and 5
    for _ in range(num_items):
        product = random.choice(products)
        quantity = random.randint(1, 10)  # Generate a random quantity for each order item
        unit_price = product['UnitPrice']
        total_price = quantity * unit_price
        item_status = random.choice(['Fulfilled', 'Partially Fulfilled', 'Cancelled', 'Delayed'])
        
        order_item = {
            'Order_Item_ID': fake.uuid4(),
            'OrderID': order_id,
            'ProductID': product['ProductID'],
            'Quantity': quantity,
            'Unit_Price': unit_price,
            'Total_Price': total_price,
            'ItemStatus': item_status
        }
        order_items.append(order_item)
    
    # Create the order entry
    order = {
        'OrderID': order_id,
        'CustomerID': customer_id,
        'OrderDate': order_date,
        'OrderStatus': order_status
    }
    orders.append(order)

In [22]:
# Convert to DataFrames
df_order_items = pd.DataFrame(order_items)
df_orders = pd.DataFrame(orders)

In [23]:
# Display the first few rows of the DataFrames
print(df_order_items.head())
print(df_orders.head())

                          Order_Item_ID                               OrderID  \
0  b559eb34-52da-420e-a7d2-9b6841cff6fd  4306cafa-fc49-4078-9d04-58e41f390cb6
1  9f611308-cea2-494e-99de-9c3207bfe90b  4306cafa-fc49-4078-9d04-58e41f390cb6
2  458f1492-7264-4cfa-a6ac-31f1e9e566ab  4306cafa-fc49-4078-9d04-58e41f390cb6
3  805bc8b7-4a02-47ba-87d0-851eb536d16f  4306cafa-fc49-4078-9d04-58e41f390cb6
4  865518d7-f2c0-4f6c-a520-542d2fa55f11  4306cafa-fc49-4078-9d04-58e41f390cb6

                              ProductID  Quantity  Unit_Price  Total_Price  \
0  8c59693d-0330-47a4-904f-35ae43a56bf1         5           2           10
1  7bd16343-58e9-4fbc-8e43-10690b1a27ff         2         425          850
2  2a08c84e-ea05-46dd-aa60-7f5d9f13c54d         5         325         1625
3  b1c94193-fbb2-4dcd-b703-c5e60f37f62d         7           5           35
4  a5624c16-d276-4518-861f-43744eee578c         3         600         1800

            ItemStatus
0              Delayed
1  Partially Fulfilled
2            Cancelled
3              Delayed
4              Delayed
                                OrderID                            CustomerID  \
0  4306cafa-fc49-4078-9d04-58e41f390cb6  3b939ffb-2896-4e03-9460-6cc763880617
1  f3cb6ec4-f636-48a6-9965-e64f08090eab  aef1fc2c-25f4-473a-99b0-1ba11c446b4f
2  be7e7467-ed28-4fb8-b8d5-1abbb385f87b  22de95c5-4fd7-4a00-8f80-a5590e1ccce1
3  eda22c3b-037f-4237-a53c-c8c0933dc9e8  0e9dda7c-b148-4f3d-b8f2-1989b1448b89
4  4aa25840-2371-4218-8173-8652ad6e979c  85b449ea-32da-41eb-9cdb-db56b3f6e05e

    OrderDate OrderStatus
0  2024-04-17   Cancelled
1  2023-11-26   Cancelled
2  2022-11-24   Delivered
3  2023-08-30     Shipped
4  2023-10-31   Delivered

In [24]:
# Check the number of rows in the DataFrames
print(f"Number of rows in df_order_items: {len(df_order_items)}")
print(f"Number of rows in df_orders: {len(df_orders)}")

Number of rows in df_order_items: 300034
Number of rows in df_orders: 100000

In [25]:
my_session = get_session()
sf_df = my_session.createDataFrame(df_order_items)
sf_df.write.mode("overwrite").save_as_table("BRONZE_ORDER_ITEM_DETAILS")
my_session.table("BRONZE_ORDER_ITEM_DETAILS").show()

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"Order_Item_ID"                       |"OrderID"                             |"ProductID"                           |"Quantity"  |"Unit_Price"  |"Total_Price"  |"ItemStatus"         |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|b559eb34-52da-420e-a7d2-9b6841cff6fd  |4306cafa-fc49-4078-9d04-58e41f390cb6  |8c59693d-0330-47a4-904f-35ae43a56bf1  |5           |2             |10             |Delayed              |
|9f611308-cea2-494e-99de-9c3207bfe90b  |4306cafa-fc49-4078-9d04-58e41f390cb6  |7bd16343-58e9-4fbc-8e43-10690b1a27ff  |2           |425           |850            |Partially Fulfilled  |
|458f1492-7264-4cfa-a6ac-31f1e9e566ab  |4306cafa-fc49-4078-9d04-58e41f390cb6  |2a08c84e-ea05-46dd-aa60-7f5d9f13c54d  |5           |325           |1625           |Cancelled            |
|805bc8b7-4a02-47ba-87d0-851eb536d16f  |4306cafa-fc49-4078-9d04-58e41f390cb6  |b1c94193-fbb2-4dcd-b703-c5e60f37f62d  |7           |5             |35             |Delayed              |
|865518d7-f2c0-4f6c-a520-542d2fa55f11  |4306cafa-fc49-4078-9d04-58e41f390cb6  |a5624c16-d276-4518-861f-43744eee578c  |3           |600           |1800           |Delayed              |
|5f08f9b1-feaa-4164-8855-2dba34634e48  |f3cb6ec4-f636-48a6-9965-e64f08090eab  |51585f72-4ce1-4bf4-9927-29514dadc201  |4           |99            |396            |Delayed              |
|14d49831-1b91-456e-b713-f5048ff26c2f  |be7e7467-ed28-4fb8-b8d5-1abbb385f87b  |b06eae68-dfbf-4f7d-80de-99d0d63ccc14  |8           |15            |120            |Delayed              |
|30a8870d-3a8f-4cc6-b89e-d87fb98dab17  |be7e7467-ed28-4fb8-b8d5-1abbb385f87b  |b55fcfa3-b24d-48a7-906c-8e9ceebb5f62  |9           |25000         |225000         |Partially Fulfilled  |
|8f798342-2f1d-42cb-bffb-63cb9134e03d  |be7e7467-ed28-4fb8-b8d5-1abbb385f87b  |113c927f-85a0-4206-8e3a-c8bafa9869b5  |4           |675           |2700           |Partially Fulfilled  |
|f5aebfef-16e3-45e3-bfc9-89399b1a8109  |be7e7467-ed28-4fb8-b8d5-1abbb385f87b  |d98d99a7-fc23-4212-b90c-70b1067d5de0  |5           |60            |300            |Cancelled            |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [26]:
sf_df = my_session.createDataFrame(df_orders)
sf_df.write.mode("overwrite").save_as_table("BRONZE_ORDER_DETAILS")
my_session.table("BRONZE_ORDER_DETAILS").show()

-------------------------------------------------------------------------------------------------------------
|"OrderID"                             |"CustomerID"                          |"OrderDate"  |"OrderStatus"  |
-------------------------------------------------------------------------------------------------------------
|4306cafa-fc49-4078-9d04-58e41f390cb6  |3b939ffb-2896-4e03-9460-6cc763880617  |2024-04-17   |Cancelled      |
|f3cb6ec4-f636-48a6-9965-e64f08090eab  |aef1fc2c-25f4-473a-99b0-1ba11c446b4f  |2023-11-26   |Cancelled      |
|be7e7467-ed28-4fb8-b8d5-1abbb385f87b  |22de95c5-4fd7-4a00-8f80-a5590e1ccce1  |2022-11-24   |Delivered      |
|eda22c3b-037f-4237-a53c-c8c0933dc9e8  |0e9dda7c-b148-4f3d-b8f2-1989b1448b89  |2023-08-30   |Shipped        |
|4aa25840-2371-4218-8173-8652ad6e979c  |85b449ea-32da-41eb-9cdb-db56b3f6e05e  |2023-10-31   |Delivered      |
|ae4d4400-1a7e-4914-a2d9-4052cf2216c9  |4fc29fa6-c18d-492b-a80b-6f98f3b650a2  |2024-04-11   |Shipped        |
|2db64f00-8d3b-4053-9ab0-5c6a9acd007d  |946c3c83-b3a0-42f1-9656-9fbde9085da5  |2023-09-01   |Delivered      |
|56a9b00a-e332-4e85-a465-c43213bdf9f9  |3a7890d2-6dc8-4935-800b-f7d7b686cc6a  |2024-04-11   |Delivered      |
|dcd10220-f027-4161-8f9a-610f138f2ac2  |4c74fee7-a03b-49f8-a9b4-85e0ecbf0577  |2024-01-18   |Delivered      |
|cedf59a8-80cb-4736-ac27-4a412277a7ab  |1a4f42a4-8fb5-46de-a495-15882c1fe87f  |2024-06-05   |Shipped        |
-------------------------------------------------------------------------------------------------------------

# Invoice Data Set Up

In [27]:
# Assuming you already have the orders and order_items dataframes
orders = df_orders['OrderID'].tolist()

In [42]:
# Generate Invoices
def generate_invoices():
    invoices = []
    for order_id in orders:
        customer_id = df_orders[df_orders['OrderID'] == order_id]['CustomerID'].values[0]
        order_date = df_orders[df_orders['OrderID'] == order_id]['OrderDate'].values[0]
        order_status = df_orders[df_orders['OrderID'] == order_id]['OrderStatus'].values[0]
        
        # Calculate total amount from order items
        total_amount = df_order_items[df_order_items['OrderID'] == order_id]['Total_Price'].sum()
        
        # Define invoice_date before using it
        invoice_date = pd.to_datetime(order_date) + timedelta(days=random.randint(3, 10))
        due_date = invoice_date + timedelta(days=7)
        payment_status = 'Paid' if order_status in ['Shipped', 'Delivered'] else 'Pending'
        
        invoice = {
            'Invoice_ID': fake.uuid4(),
            'Order_ID': order_id,
            'Invoice_Date': invoice_date,
            'Due_Date': due_date,
            'Total_Amount': total_amount,
            'Payment_Status': payment_status,
            'CustomerID': customer_id,
            'OrderDate': order_date
        }
        invoices.append(invoice)
    return invoices

In [43]:
# Generate Data
invoices = generate_invoices()

df_invoices = pd.DataFrame(invoices)

In [47]:
print(df_invoices.head())

                             Invoice_ID                              Order_ID  \
0  cfabc68a-43db-4ebe-ba60-4d0dc14411d8  4306cafa-fc49-4078-9d04-58e41f390cb6
1  fe8172e8-cbce-4810-8cc3-335367ce0443  f3cb6ec4-f636-48a6-9965-e64f08090eab
2  cd51f250-f695-4244-ba9d-0e1f1f9ed639  be7e7467-ed28-4fb8-b8d5-1abbb385f87b
3  7e7890d4-78e8-4440-816d-d67d2a35951b  eda22c3b-037f-4237-a53c-c8c0933dc9e8
4  c508616f-d1df-478a-bb5b-957f4a66d346  4aa25840-2371-4218-8173-8652ad6e979c

  Invoice_Date   Due_Date  Total_Amount Payment_Status  \
0   2024-04-25 2024-05-02          4320        Pending
1   2023-12-04 2023-12-11           396        Pending
2   2022-11-27 2022-12-04        228545           Paid
3   2023-09-08 2023-09-15          7159           Paid
4   2023-11-05 2023-11-12          1533           Paid

                             CustomerID   OrderDate
0  3b939ffb-2896-4e03-9460-6cc763880617  2024-04-17
1  aef1fc2c-25f4-473a-99b0-1ba11c446b4f  2023-11-26
2  22de95c5-4fd7-4a00-8f80-a5590e1ccce1  2022-11-24
3  0e9dda7c-b148-4f3d-b8f2-1989b1448b89  2023-08-30
4  85b449ea-32da-41eb-9cdb-db56b3f6e05e  2023-10-31

In [48]:
print(f"Number of rows in df_invoices: {len(df_invoices)}")

Number of rows in df_invoices: 100000

In [49]:
# Save to Snowflake
sf_df = my_session.createDataFrame(df_invoices)
sf_df.write.mode("overwrite").save_as_table("BRONZE_INVOICE_DETAILS")
my_session.table("BRONZE_INVOICE_DETAILS").show()

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"Invoice_ID"                          |"Order_ID"                            |"Invoice_Date"       |"Due_Date"           |"Total_Amount"  |"Payment_Status"  |"CustomerID"                          |"OrderDate"  |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|cfabc68a-43db-4ebe-ba60-4d0dc14411d8  |4306cafa-fc49-4078-9d04-58e41f390cb6  |2024-04-25 00:00:00  |2024-05-02 00:00:00  |4320            |Pending           |3b939ffb-2896-4e03-9460-6cc763880617  |2024-04-17   |
|fe8172e8-cbce-4810-8cc3-335367ce0443  |f3cb6ec4-f636-48a6-9965-e64f08090eab  |2023-12-04 00:00:00  |2023-12-11 00:00:00  |396             |Pending           |aef1fc2c-25f4-473a-99b0-1ba11c446b4f  |2023-11-26   |
|cd51f250-f695-4244-ba9d-0e1f1f9ed639  |be7e7467-ed28-4fb8-b8d5-1abbb385f87b  |2022-11-27 00:00:00  |2022-12-04 00:00:00  |228545          |Paid              |22de95c5-4fd7-4a00-8f80-a5590e1ccce1  |2022-11-24   |
|7e7890d4-78e8-4440-816d-d67d2a35951b  |eda22c3b-037f-4237-a53c-c8c0933dc9e8  |2023-09-08 00:00:00  |2023-09-15 00:00:00  |7159            |Paid              |0e9dda7c-b148-4f3d-b8f2-1989b1448b89  |2023-08-30   |
|c508616f-d1df-478a-bb5b-957f4a66d346  |4aa25840-2371-4218-8173-8652ad6e979c  |2023-11-05 00:00:00  |2023-11-12 00:00:00  |1533            |Paid              |85b449ea-32da-41eb-9cdb-db56b3f6e05e  |2023-10-31   |
|2b747ca2-e553-461f-94c3-10972f911a38  |ae4d4400-1a7e-4914-a2d9-4052cf2216c9  |2024-04-18 00:00:00  |2024-04-25 00:00:00  |89400           |Paid              |4fc29fa6-c18d-492b-a80b-6f98f3b650a2  |2024-04-11   |
|0c4af8e8-8889-460b-b98f-c78f98922283  |2db64f00-8d3b-4053-9ab0-5c6a9acd007d  |2023-09-05 00:00:00  |2023-09-12 00:00:00  |181017          |Paid              |946c3c83-b3a0-42f1-9656-9fbde9085da5  |2023-09-01   |
|140b9522-36b9-4d76-aa88-4cb5c9c5427a  |56a9b00a-e332-4e85-a465-c43213bdf9f9  |2024-04-20 00:00:00  |2024-04-27 00:00:00  |8274            |Paid              |3a7890d2-6dc8-4935-800b-f7d7b686cc6a  |2024-04-11   |
|01a2c30d-e0f2-4fa5-83e7-5388b47abbc5  |dcd10220-f027-4161-8f9a-610f138f2ac2  |2024-01-23 00:00:00  |2024-01-30 00:00:00  |150733          |Paid              |4c74fee7-a03b-49f8-a9b4-85e0ecbf0577  |2024-01-18   |
|abc54613-c55f-4d17-86d3-6020b51a470b  |cedf59a8-80cb-4736-ac27-4a412277a7ab  |2024-06-15 00:00:00  |2024-06-22 00:00:00  |42              |Paid              |1a4f42a4-8fb5-46de-a495-15882c1fe87f  |2024-06-05   |
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Shipments Data Set up

In [50]:
# Generate Shipments
def generate_shipments():
    shipments = []
    for order_id in orders:
        order_status = df_orders[df_orders['OrderID'] == order_id]['OrderStatus'].values[0]
        shipment_date = pd.to_datetime(df_orders[df_orders['OrderID'] == order_id]['OrderDate'].values[0]) + timedelta(days=random.randint(1, 5))
        carrier = random.choice(['FedEx', 'UPS', 'DHL', 'USPS'])
        tracking_number = fake.uuid4()
        
        # Set shipment status based on order status
        if order_status == 'Pending':
            shipment_status = 'Pending'
        elif order_status == 'Shipped':
            shipment_status = 'In Transit'
        elif order_status == 'Delivered':
            shipment_status = 'Delivered'
        elif order_status == 'Cancelled':
            shipment_status = 'Cancelled'
        else:
            shipment_status = 'Unknown'
        
        shipment = {
            'Shipment_ID': fake.uuid4(),
            'Order_ID': order_id,
            'Shipment_Date': shipment_date,
            'Carrier': carrier,
            'Tracking_Number': tracking_number,
            'Shipment_Status': shipment_status
        }
        shipments.append(shipment)
    return shipments

In [51]:
# Generate Data
shipments = generate_shipments()

df_shipments = pd.DataFrame(shipments)

In [52]:
# Display the first few rows of the DataFrame
print(df_shipments.head())

                            Shipment_ID                              Order_ID  \
0  618329ef-7334-4923-9b0a-f9c9f0760d49  4306cafa-fc49-4078-9d04-58e41f390cb6
1  76907a19-9465-462f-b8a1-1464bffaff04  f3cb6ec4-f636-48a6-9965-e64f08090eab
2  6a6e6a1f-07e2-4121-9a72-2f4da0b245cf  be7e7467-ed28-4fb8-b8d5-1abbb385f87b
3  9696a760-ac4d-4fda-bacf-fe7f55392b5e  eda22c3b-037f-4237-a53c-c8c0933dc9e8
4  4649a49c-f074-4456-82b0-53193b67a5a0  4aa25840-2371-4218-8173-8652ad6e979c

  Shipment_Date Carrier                       Tracking_Number Shipment_Status
0    2024-04-19   FedEx  20bd8d32-e945-48e1-90b1-b85516a45e3e       Cancelled
1    2023-11-30   FedEx  704118c5-72cb-4e8e-a3dc-92319ff8251b       Cancelled
2    2022-11-26     UPS  810b76d2-3e68-47da-9ad6-baae86b10c37       Delivered
3    2023-08-31    USPS  4fa8648d-595c-41e7-afc6-c0269253b09a      In Transit
4    2023-11-04     DHL  d915a119-82d1-4bcd-b4ed-67739943875e       Delivered

In [53]:
# Save to Snowflake
sf_df = my_session.createDataFrame(df_shipments)
sf_df.write.mode("overwrite").save_as_table("BRONZE_SHIPMENT_DETAILS")
my_session.table("BRONZE_SHIPMENT_DETAILS").show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"Shipment_ID"                         |"Order_ID"                            |"Shipment_Date"      |"Carrier"  |"Tracking_Number"                     |"Shipment_Status"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|618329ef-7334-4923-9b0a-f9c9f0760d49  |4306cafa-fc49-4078-9d04-58e41f390cb6  |2024-04-19 00:00:00  |FedEx      |20bd8d32-e945-48e1-90b1-b85516a45e3e  |Cancelled          |
|76907a19-9465-462f-b8a1-1464bffaff04  |f3cb6ec4-f636-48a6-9965-e64f08090eab  |2023-11-30 00:00:00  |FedEx      |704118c5-72cb-4e8e-a3dc-92319ff8251b  |Cancelled          |
|6a6e6a1f-07e2-4121-9a72-2f4da0b245cf  |be7e7467-ed28-4fb8-b8d5-1abbb385f87b  |2022-11-26 00:00:00  |UPS        |810b76d2-3e68-47da-9ad6-baae86b10c37  |Delivered          |
|9696a760-ac4d-4fda-bacf-fe7f55392b5e  |eda22c3b-037f-4237-a53c-c8c0933dc9e8  |2023-08-31 00:00:00  |USPS       |4fa8648d-595c-41e7-afc6-c0269253b09a  |In Transit         |
|4649a49c-f074-4456-82b0-53193b67a5a0  |4aa25840-2371-4218-8173-8652ad6e979c  |2023-11-04 00:00:00  |DHL        |d915a119-82d1-4bcd-b4ed-67739943875e  |Delivered          |
|881fd66a-c775-45e9-b1d9-2a93421f21c8  |ae4d4400-1a7e-4914-a2d9-4052cf2216c9  |2024-04-12 00:00:00  |DHL        |b5a3352b-8448-44d6-9805-b82e2b4b0584  |In Transit         |
|53c5c826-dc43-46d6-95e1-8b407aeb8487  |2db64f00-8d3b-4053-9ab0-5c6a9acd007d  |2023-09-03 00:00:00  |DHL        |db9435e3-6ce5-4c0b-8566-93cb60aab213  |Delivered          |
|fa337f77-df43-4a64-b07f-449e6e18f2bd  |56a9b00a-e332-4e85-a465-c43213bdf9f9  |2024-04-13 00:00:00  |USPS       |ff759e31-4ab9-4e95-893a-7465e0c925a1  |Delivered          |
|d3d43917-eefb-4a42-90cd-a8b85ece34c4  |dcd10220-f027-4161-8f9a-610f138f2ac2  |2024-01-20 00:00:00  |DHL        |62b66f3d-e804-480c-8b8b-c243f869932c  |Delivered          |
|03123ddd-4467-4b80-8861-056ea3435928  |cedf59a8-80cb-4736-ac27-4a412277a7ab  |2024-06-06 00:00:00  |FedEx      |ec8663bd-33e5-4890-b30d-21dadd33ad69  |In Transit         |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [44]:
# Generate Orders and Order Items
def generate_orders_and_items(customers, products, num_orders=100000):
    orders = []
    order_items = []
    shipments = []
    invoices = []
    payments = []
    statuses = ['Fulfilled', 'Delayed Fulfillment', 'Pending Payment']

    for _ in range(num_orders):
        customer = random.choice(customers)
        order_status = random.choice(statuses)
        order_id = fake.uuid4()
        order_date = fake.date_this_year()
        total_amount = 0

        order = {
            'OrderID': order_id,
            'CustomerID': customer['CustomerID'],
            'OrderDate': order_date,
            'OrderStatus': order_status,
            'TotalAmount': total_amount  # Will be updated later
        }
        orders.append(order)

        num_items = random.randint(1, 5)
        for _ in range(num_items):
            product = random.choice(products)
            quantity = random.randint(1, 10)
            total_price = product['Price'] * quantity
            total_amount += total_price

            order_item = {
                'OrderItemID': fake.uuid4(),
                'OrderID': order_id,
                'ProductID': product['ProductID'],
                'Quantity': quantity,
                'UnitPrice': product['Price'],
                'TotalPrice': total_price
            }
            order_items.append(order_item)

        # Update the total amount for the order
        order['TotalAmount'] = total_amount

        shipment = {
            'ShipmentID': fake.uuid4(),
            'OrderID': order_id,
            'ShipmentDate': fake.date_this_year(),
            'Carrier': fake.company(),
            'TrackingNumber': fake.uuid4(),
            'ShipmentStatus': 'Shipped' if order_status == 'Fulfilled' else 'Pending'
        }
        shipments.append(shipment)

        invoice = {
            'InvoiceID': fake.uuid4(),
            'OrderID': order_id,
            'InvoiceDate': fake.date_this_year(),
            'DueDate': fake.date_this_year(),
            'TotalAmount': total_amount,
            'PaymentStatus': 'Paid' if order_status == 'Fulfilled' else 'Pending'
        }
        invoices.append(invoice)

        if order_status == 'Fulfilled':
            payment = {
                'PaymentID': fake.uuid4(),
                'InvoiceID': invoice['InvoiceID'],
                'PaymentDate': fake.date_this_year(),
                'PaymentAmount': total_amount,
                'PaymentMethod': random.choice(['Credit Card', 'Bank Transfer', 'Cash'])
            }
            payments.append(payment)

    return orders, order_items, shipments, invoices, payments

In [16]:
orders, order_items, shipments, invoices, payments = generate_orders_and_items(customers, products)

NameError: name 'products' is not defined

In [ ]:
# Convert to DataFrames for easy manipulation


df_orders = pd.DataFrame(orders)
df_order_items = pd.DataFrame(order_items)
df_shipments = pd.DataFrame(shipments)
df_invoices = pd.DataFrame(invoices)
df_payments = pd.DataFrame(payments)

In [ ]:
orders