In [1]:
import random
from faker import Faker
import pandas as pd

In [2]:
fake = Faker('en_US')

In [3]:
fake.company_suffix()

'LLC'

In [4]:
# Generate Customers
def generate_customers(num_customers=100):
    customers = []
    for _ in range(num_customers):
        customer = {
            'CustomerID': fake.uuid4(),
            'Name': fake.company(),
            'CompanyType':fake.company_suffix(),
            'ContactDetails': fake.phone_number(),
            'EmailDetails': fake.company_email(),
            'AddressDetails':fake.address(),
            'AdminDetails':fake.administrative_unit(),
            'CreditLimit': random.randint(10000, 100000),
            'CreditRating': random.choice(['very poor', 'fair', 'good', 'very good','exceptional'])
        }
        customers.append(customer)
    return customers

In [5]:
# Generate Data
customers = generate_customers()

In [6]:
df_customers = pd.DataFrame(customers)

In [8]:
df_customers

,CustomerID,Name,CompanyType,ContactDetails,EmailDetails,AddressDetails,AdminDetails,CreditLimit,CreditRating
0,5a629bdc-31dd-43f4-ab6c-6faba80e8bcd,"Oconnor, Cross and Lopez",Inc,189.995.5967x3062,sierradaniels@bradley.com,"5634 Jacob Curve Suite 895\nLake Robin, TX 69727",Virginia,36932,very poor
1,053d1048-4b1b-4f6a-abf5-5b315f1bb132,Collier-Hughes,Group,001-390-908-8945x76417,katelynberry@lopez.com,"92715 Bean Lock Suite 167\nNew Kevinmouth, AZ ...",California,13474,very good
2,1d01502e-d96b-4382-9a8b-494a62e4c81f,"Thompson, Medina and Valdez",Ltd,001-672-797-7534x277,edward30@howard.com,"3186 Tiffany Loaf Suite 031\nWrightbury, TN 22092",Connecticut,72777,fair
3,210d30d6-6e7d-40cf-b699-7af502229b3a,Johnson LLC,PLC,(973)525-1271,ogomez@orozco.info,"78154 Harding Lake Apt. 519\nKatherinemouth, M...",Louisiana,48857,very poor
4,e7c5373b-f3c8-488e-96d2-ef0e56bff6b0,Lee-Evans,Ltd,8631134745,scott92@hall-allen.info,"54518 Micheal Mews\nNew Mark, NV 16274",West Virginia,81698,exceptional
...,...,...,...,...,...,...,...,...,...
95,8c1f7397-77bb-49de-91bb-cf2361f1784b,Bowman Group,Inc,001-924-668-5516,schwartzstacy@stevens.net,"41884 Katherine Burg Apt. 148\nPort Wendybury,...",Virginia,60355,exceptional
96,12a0b277-af21-4237-bf81-a62d3679ffa1,Tyler Inc,LLC,950-815-7554x0537,ngarcia@johnson.com,"824 Jackson Curve Apt. 036\nMariomouth, OK 86325",Texas,67085,good
97,ef9838d6-f477-4ece-baae-892a86f50021,"Wright, Skinner and Morrison",and Sons,001-695-659-0290,suzanne52@stewart.biz,"96904 Jimenez Gateway\nRandymouth, ME 09784",Vermont,46187,very good
98,ce088ab0-1f9b-449b-a854-dcdda1311970,Butler LLC,Group,(330)888-5809x108,douglas20@riley-smith.info,"03841 Hernandez Lights\nNorth Frankview, MI 16630",Ohio,92632,good
99,96795b5c-48bd-4f22-bbf6-b4f2dfb75c5b,Hutchinson-Villegas,Group,(249)856-8655x038,urichardson@shaw.com,"1925 Nichole Rue\nNorth Alison, GA 56944",Washington,74547,very good

In [9]:
# Define the product types for each category
product_types = {
    'Office Supplies': [
        "Laser Printer",
        "Ergonomic Chair",
        "Standing Desk",
        "Wireless Keyboard",
        "Office Stationery Set"
    ],
    'Healthcare': [
        "Digital Thermometer",
        "Blood Pressure Monitor",
        "Glucometer",
        "Surgical Masks",
        "Hand Sanitizer"
    ],
    'Consumer Goods': [
        "LED Light Bulbs",
        "Vacuum Cleaner",
        "Air Purifier",
        "Electric Kettle",
        "Microwave Oven"
    ],
    'Automotive': [
        "Car Battery",
        "Engine Oil",
        "Brake Pads",
        "Tires",
        "Car Air Freshener"
    ],
    'Construction Materials': [
        "Cement",
        "Steel Beams",
        "Insulation Material",
        "PVC Pipes",
        "Roofing Sheets"
    ],
    'Food Beverages': [
        "Organic Coffee Beans",
        "Bottled Water",
        "Energy Drink",
        "Protein Bars",
        "Gourmet Chocolate"
    ],
    'Industrial Equipment': [
        "Forklift",
        "Conveyor Belt",
        "Industrial Robot",
        "3D Printer",
        "CNC Machine"
    ],
    'Electronics': [
        "Laptop",
        "Smartphone",
        "Tablet",
        "Smartwatch",
        "Bluetooth Headphones"
    ]
}

In [10]:
products = {'Laser Printer': [100,425],
'Ergonomic Chair': [1000,299],
'Standing Desk': [1000,420],
'Digital Thermometer': [2500,36],
'Blood Pressure Monitor': [2500,44],
'Glucometer': [2500,29],
'Vacuum Cleaner': [100,364],
'Electric Kettle': [500,199],
'Microwave Oven': [500,325],
'Car Battery': [1000,99],
'Engine Oil': [1000,40],
'Brake Pads': [1000,60],
'Tires': [2000,120],
'Car Air Freshener': [2500,9],
'Cement': [500,100],
'Forklift': [50,21000],
'Conveyor Belt': [1000,1000],
'Industrial Robot': [50,30000],
'3D Printer': [100,980],
'CNC Machine': [100,25000],
'Wireless Keyboard': [1000,78],
'LED Light Bulbs': [5000,5],
'Air Purifier': [1000,99],
'Steel Beams': [1000,600],
'Insulation Material': [10000,2],
'PVC Pipes': [5000,3],
'Roofing Sheets': [5000,7],
'Laptop': [1000,799],
'Smartphone': [1000,675],
'Tablet': [1000,499],
'Smartwatch': [1000,160],
'Bluetooth Headphones': [1000,139],
'Organic Coffee Beans': [5000, 19],
'Bottled Water': [10000, 5],
'Energy Drink': [5000, 7],
'Protein Bars': [5000, 5],
'Gourmet Chocolate': [5000, 9],
'Office Stationery Set':[1000, 15],
'Surgical Masks' : [10000,2],
'Hand Sanitizer' : [5000, 14]
}

In [11]:
# Function to assign product type based on product category
def assign_product_type(product_category):
    if product_category in product_types:
        return random.choice(product_types[product_category])
    else:
        return None

# Example usage
product_categories = [
    'Office Supplies', 'Healthcare', 'Consumer Goods', 'Automotive',
    'Construction Materials', 'Food Beverages', 'Industrial Equipment', 'Electronics'
]

In [12]:
def assign_order_quantity_and_price(sample_product_type):
    for product, values in products.items():
        if product == sample_product_type:
            max_order_limit, unit_price = values
            order_quantity = random.randint(max_order_limit-50, max_order_limit)
            order_price = order_quantity * unit_price
    return order_quantity, order_price, unit_price

In [17]:
# Generate Products
def generate_products(num_products=100):
    products = []
    for _ in range(num_products):
        sample_product_categories = random.choice(product_categories)
        sample_product_type = assign_product_type(sample_product_categories)
        print (sample_product_categories, sample_product_type)
        sample_product_quantity, sample_product_price, stock_price = assign_order_quantity_and_price(sample_product_type)
        product = {
            'ProductID': fake.uuid4(),
            # Create a sample list of product categories
            'ProductCategory' : sample_product_categories,
            'ProductType' : sample_product_type,            
            'Price': sample_product_price,
            'Quantity': sample_product_quantity,
            'UnitPrice' : stock_price
        }
        products.append(product)
    return products

In [18]:
products_input = generate_products()

Food Beverages Organic Coffee Beans
Industrial Equipment CNC Machine
Healthcare Surgical Masks
Automotive Engine Oil
Electronics Smartwatch
Office Supplies Wireless Keyboard
Food Beverages Protein Bars
Consumer Goods LED Light Bulbs
Electronics Smartphone
Automotive Engine Oil
Food Beverages Protein Bars
Electronics Bluetooth Headphones
Consumer Goods LED Light Bulbs
Consumer Goods LED Light Bulbs
Consumer Goods Air Purifier
Automotive Engine Oil
Automotive Brake Pads
Consumer Goods Electric Kettle
Healthcare Hand Sanitizer
Office Supplies Ergonomic Chair
Automotive Engine Oil
Office Supplies Standing Desk
Electronics Laptop
Food Beverages Gourmet Chocolate
Food Beverages Bottled Water
Electronics Bluetooth Headphones
Food Beverages Gourmet Chocolate
Healthcare Blood Pressure Monitor
Construction Materials PVC Pipes
Industrial Equipment 3D Printer
Industrial Equipment Conveyor Belt
Industrial Equipment CNC Machine
Office Supplies Office Stationery Set
Electronics Smartwatch
Industrial Equipment Industrial Robot
Industrial Equipment Industrial Robot
Food Beverages Protein Bars
Construction Materials PVC Pipes
Office Supplies Ergonomic Chair
Office Supplies Office Stationery Set
Construction Materials Insulation Material
Consumer Goods Microwave Oven
Automotive Brake Pads
Consumer Goods LED Light Bulbs
Office Supplies Ergonomic Chair
Construction Materials Roofing Sheets
Construction Materials Roofing Sheets
Food Beverages Energy Drink
Automotive Brake Pads
Healthcare Blood Pressure Monitor
Consumer Goods Electric Kettle
Healthcare Hand Sanitizer
Electronics Bluetooth Headphones
Construction Materials Steel Beams
Electronics Smartwatch
Construction Materials PVC Pipes
Automotive Car Air Freshener
Consumer Goods Vacuum Cleaner
Construction Materials PVC Pipes
Electronics Tablet
Consumer Goods Microwave Oven
Consumer Goods Microwave Oven
Healthcare Blood Pressure Monitor
Construction Materials Insulation Material
Automotive Car Battery
Office Supplies Wireless Keyboard
Food Beverages Bottled Water
Food Beverages Bottled Water
Construction Materials Insulation Material
Construction Materials PVC Pipes
Industrial Equipment Conveyor Belt
Electronics Smartphone
Consumer Goods Air Purifier
Industrial Equipment Industrial Robot
Construction Materials Insulation Material
Industrial Equipment Forklift
Construction Materials Roofing Sheets
Automotive Car Air Freshener
Food Beverages Energy Drink
Electronics Tablet
Construction Materials Steel Beams
Automotive Tires
Food Beverages Protein Bars
Industrial Equipment Industrial Robot
Consumer Goods Electric Kettle
Healthcare Glucometer
Construction Materials PVC Pipes
Automotive Engine Oil
Office Supplies Laser Printer
Food Beverages Bottled Water
Office Supplies Laser Printer
Electronics Tablet
Food Beverages Gourmet Chocolate
Construction Materials Insulation Material
Electronics Bluetooth Headphones
Office Supplies Wireless Keyboard
Office Supplies Laser Printer
Healthcare Glucometer
Healthcare Glucometer
Office Supplies Wireless Keyboard

In [19]:
df_products = pd.DataFrame(products_input)

In [20]:
df_products

,ProductID,ProductCategory,ProductType,Price,Quantity,UnitPrice
0,3316efc4-e509-4957-adaf-c96198faca0a,Food Beverages,Organic Coffee Beans,94829,4991,19
1,f6119b5f-d5df-4e52-9cd0-f3689fe58df2,Industrial Equipment,CNC Machine,2275000,91,25000
2,e6d58ec5-5518-4043-8d80-2be64e2a1d9d,Healthcare,Surgical Masks,19968,9984,2
3,c48f5f52-897a-46ed-86ec-33c63cc05c35,Automotive,Engine Oil,38240,956,40
4,3e6de71d-0e18-4e13-b648-c1b8e73116ec,Electronics,Smartwatch,153440,959,160
...,...,...,...,...,...,...
95,d78dc409-04d4-4bcc-a208-a4331571764e,Office Supplies,Wireless Keyboard,74724,958,78
96,5f5564b6-86a4-4e09-87da-92b62f2adc26,Office Supplies,Laser Printer,34000,80,425
97,ab2ae4ec-83f5-4e6a-b4ba-1f6f8641040d,Healthcare,Glucometer,71050,2450,29
98,50bb35c8-443d-4570-86b2-d4327845e1a1,Healthcare,Glucometer,71978,2482,29
99,2c65b087-02f8-47ec-a80b-36c0da753104,Office Supplies,Wireless Keyboard,76518,981,78

In [56]:
customers = df_customers['CustomerID'].tolist()
products = df_products[['ProductID', 'UnitPrice']].to_dict('records')

In [57]:
# Define the date range
from datetime import datetime
start_date = datetime(2022, 8, 1)
end_date = datetime(2024, 8, 1)

# Generate Orders
def generate_orders(num_orders=500):
    orders = []
    for _ in range(num_orders):
        order = {
            'OrderID': fake.uuid4(),
            'CustomerID': random.choice(customers),
            'OrderDate': fake.date_between(start_date, end_date),
            'OrderStatus': random.choice(['Pending', 'Shipped', 'Delivered', 'Cancelled'])
        }
        orders.append(order)
    return orders

In [ ]:
orders = generate_orders()

df_orders = pd.DataFrame(orders)

In [51]:
df_orders

,OrderID,CustomerID,OrderDate,OrderStatus
0,52fbf163-3434-46c6-a681-4a381ec32ba2,989eb19d-1194-4225-8524-5de30604713a,2023-08-21,Shipped
1,8bebb439-e49e-419a-8551-a0569bae3aea,a0c99efd-88a8-494f-a9c6-8aa5aa77a9e3,2024-05-16,Cancelled
2,d5c99191-782d-4158-844b-34e534c50690,3dff45b1-4238-48a0-a50f-1236cf057292,2023-08-09,Shipped
3,052746f4-b06b-40f8-989d-b32e52c376f0,d71a4f3f-49ef-4fea-bf9e-99ee6b61ee64,2023-12-07,Cancelled
4,33473fc3-875e-40c1-b54c-7f69ce2cb1cf,be3b6947-4a19-4816-99ed-6268993fe771,2023-12-17,Cancelled
...,...,...,...,...
495,cc80c360-104f-4f56-bde0-b0159979d8f6,920200e6-ef46-4333-84cb-3f3cae29dd32,2022-09-05,Shipped
496,dd160266-a0e4-432c-89d4-065fcf5c87d6,f4bf2b4e-3731-4997-b404-812cedf200bb,2022-08-12,Shipped
497,ee0b3611-bef2-42d1-8fd1-ef833767a090,b755aabe-4800-45de-83c0-87e137b8b818,2022-12-15,Shipped
498,ec8278e4-ed7c-4c38-b452-0ee213f2f097,bba99c5b-e4d3-4542-b666-23da380b56e9,2023-10-12,Cancelled
499,67898e20-4078-4c2f-91cf-71171f7353c8,8de07ac2-d332-43c7-97d7-dbb0c8b9adef,2022-12-20,Cancelled

In [52]:
# Generate Order Items
def generate_order_items(orders, num_order_items=100):
    order_items = []
    for _ in range(num_order_items):
        order = random.choice(orders)
        product = random.choice(products)
        quantity = product['Quantity']
        unit_price = product['UnitPrice']
        total_price = quantity * unit_price
        order_item = {
            'Order_Item_ID': fake.uuid4(),
            'OrderID': order['OrderID'],
            'ProductID': product['ProductID'],
            'Quantity': quantity,
            'Unit_Price': unit_price,
            'Total_Price': total_price
        }
        order_items.append(order_item)
    return order_items

In [53]:
order_items = generate_order_items(orders)

df_order_items = pd.DataFrame(order_items)

In [54]:
# Display the first few rows of the Order Items dataframe
df_order_items.head()

,Order_Item_ID,OrderID,ProductID,Quantity,Unit_Price,Total_Price
0,da8e1489-1c31-47d4-b0b7-2547b0f7dda2,8bebb439-e49e-419a-8551-a0569bae3aea,7b146568-6de3-4346-a5dc-1373bfb8c682,956,160,152960
1,628dd945-ead3-4c36-95d1-834785e30def,508f507f-8705-48bc-a364-c2228991a206,005d3e66-e3be-4f59-b11d-597ec44340b9,998,420,419160
2,78116832-0e9c-4ef1-b924-08f2ebadedba,5ecfe636-e943-41fb-aab6-a0f258a80388,15bc140e-ae2b-40c5-ac67-652f6e723ca1,990,60,59400
3,9044edde-9685-4f41-8b67-177afca6bc50,e7fba12d-eb1a-45a8-9eb7-69b218416a69,9d8e9f98-f1f1-4f3e-b3f6-aeeb7543abcc,486,325,157950
4,4fa2a8ac-e86e-4242-864a-e13242db1e7e,19a788e2-eb5d-46aa-96b4-df25377a8b34,5f5564b6-86a4-4e09-87da-92b62f2adc26,80,425,34000

In [55]:
df_order_items

,Order_Item_ID,OrderID,ProductID,Quantity,Unit_Price,Total_Price
0,da8e1489-1c31-47d4-b0b7-2547b0f7dda2,8bebb439-e49e-419a-8551-a0569bae3aea,7b146568-6de3-4346-a5dc-1373bfb8c682,956,160,152960
1,628dd945-ead3-4c36-95d1-834785e30def,508f507f-8705-48bc-a364-c2228991a206,005d3e66-e3be-4f59-b11d-597ec44340b9,998,420,419160
2,78116832-0e9c-4ef1-b924-08f2ebadedba,5ecfe636-e943-41fb-aab6-a0f258a80388,15bc140e-ae2b-40c5-ac67-652f6e723ca1,990,60,59400
3,9044edde-9685-4f41-8b67-177afca6bc50,e7fba12d-eb1a-45a8-9eb7-69b218416a69,9d8e9f98-f1f1-4f3e-b3f6-aeeb7543abcc,486,325,157950
4,4fa2a8ac-e86e-4242-864a-e13242db1e7e,19a788e2-eb5d-46aa-96b4-df25377a8b34,5f5564b6-86a4-4e09-87da-92b62f2adc26,80,425,34000
...,...,...,...,...,...,...
95,2a541deb-b533-4cc9-836e-ebcaec74ff05,8494377a-1dca-4fcd-a158-ea176d6b4c16,f6fa9a32-253b-4c1f-b65a-95173dabfc86,4953,5,24765
96,7a403127-8c2a-4c8f-a666-f67ae54829ef,052746f4-b06b-40f8-989d-b32e52c376f0,e8c2c4bb-fcb6-45ee-bb49-3311badb7e57,4965,5,24825
97,9a5eef88-d081-4fc2-8b04-42f75a7bace5,25a77517-0580-4afa-a446-790b394d6e7b,e8c2c4bb-fcb6-45ee-bb49-3311badb7e57,4965,5,24825
98,d693072d-d203-4b4f-ac65-f7c5040e1c89,9b330da8-b7e4-42f5-95cf-87b5e6f00130,a0810628-0e06-4ab8-ad9d-1540c9d66b03,959,139,133301
99,732c0502-6369-4fbc-9b5e-19d877ff1b90,ea202e70-4f00-4ee4-8758-bd39b85d6334,a0810628-0e06-4ab8-ad9d-1540c9d66b03,959,139,133301